services:
  f2yt:
    build: .
    image: f2yt-encoder
    container_name: f2yt_container
    volumes:
      - .:/app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu, video, compute, utility]
    environment:
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all
    command: tail -f /dev/null
    shm_size: '8gb'